executor{
    jobName = { "$task.tag" }
}

params {

    projectName = "tl"

    rawReads = "/ceph/cbio/datasets/test/16s"
    outDir = "/ceph/cbio/users/gerrit/scratch/16s/nextflow-out"
    
    queue = 'Main'

}

profiles{
    standard {
        process.executor = 'local'
    }

   slurm {
        process.executor = 'slurm'
        process.queue = params.queue
        process.container = 'docker://quay.io/h3abionet_org/h3a16s-fastqc'
        singularity.enabled = true
        process.memory =  4.GB
        process.cpus = 1
    }
}
