singularity.autoMounts = true

executor{
    jobName = { "$task.tag" }
}

params {

    projectName = "GSBAfrica"

    rawReads = "/home/manager/course_data/rna_seq_human/data/"
    outDir = "/home/manager/nextflow-out"
    
}

profiles{
    standard {
        process.executor = 'local'
        process.memory =  1.GB
        process.cpus = 1
     }
}
