singularity.autoMounts = true

executor{
    jobName = { "$task.tag" }
}

params {

    projectName = "tl"

    rawReads = "/data/projects/cbio-ws/tests/fastq-reads"
    outDir = "/data/users/cbio-ws-u24/nextflow-out"

}

profiles{
    standard {
        process.executor = 'local'
    }

   slurm {
        process.executor = 'slurm'
        process.queue = 'main'
        //process.container = 'docker://quay.io/h3abionet_org/h3a16s-fastqc'
        process.container = '/data/projects/cbio-ws/tests/containers/quay.io_h3abionet_org_h3a16s-fastqc-2018-09-27-e0689595e844.img'
        singularity.enabled = true
    }
}
